@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #008CFF;
  --light: #848484;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  @apply flex items-center justify-center
} 

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
